@charset "UTF-8";
h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  color: #212121;
  font-family: "Roboto", "Oxygen", sans-serif;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  border: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

.link-for-pointer {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.section-title {
  font-size: 28px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
  }
}

.btn {
  display: block;
  height: 50px;
  font-weight: 700;
  line-height: 1.9;
  font-size: 16px;
  text-align: center;
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover, .btn:focus {
  background-color: #188ce8;
}

.btn--bg--blue {
  background-color: #2196f3;
}

.btn--colour--white {
  color: #ffffff;
}

.logo {
  display: block;
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
  }
}

.logo__accent {
  color: #2196f3;
}

.logo--colour--black {
  color: #000000;
}

.logo--colour--white {
  color: #ffffff;
}

.header {
  border: 1px solid #ececec;
}

@media screen and (max-width: 767px) {
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__logo {
    display: block;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .header__contact {
    display: none;
  }
  .header__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    border: 1px solid transparent;
    cursor: pointer;
  }
  .header__button:hover, .header__button:focus {
    fill: #2196f3;
  }
}

@media screen and (min-width: 768px) {
  .header {
    font-weight: 500;
    letter-spacing: 0.02em;
  }
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__logo {
    display: block;
  }
  .header__contact {
    display: block;
  }
  .header__button {
    display: none;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .header {
    font-weight: 500;
    letter-spacing: 0.02em;
  }
  .header__contact {
    display: flex;
    margin-left: auto;
  }
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__logo {
    display: block;
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
  }
  .header__button {
    display: none;
  }
}

.nav {
  max-width: 768px;
  display: flex;
}

@media screen and (max-width: 768px) {
  .nav {
    display: none;
  }
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  color: inherit;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover, .nav__link:focus {
  color: #2196f3;
}

.nav__link--current {
  color: #2196f3;
}

.nav__link--current::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  background-color: #2196f3;
  width: 100%;
  height: 4px;
  border-radius: 2px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .contact__item {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contact__item:not(:last-child) {
    margin-right: 30px;
  }
}

.contact__link {
  display: block;
  color: #757575;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .contact__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contact__link:hover, .contact__link:focus {
  color: #2196f3;
}

.contact__icon {
  margin-right: 10px;
  fill: currentColor;
}

.hero {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  min-height: 400px;
  padding-top: 118px;
  padding-bottom: 118px;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__btn {
  margin: 0 auto;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.hero__title {
  margin-right: auto;
  margin-left: auto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.hero__title--colour--white {
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/mobile/Header img.jpg");
  }
  .hero__title {
    max-width: 360px;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/desktop/hero-min.jpg");
  }
  .hero__title {
    max-width: 360px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    min-height: 600px;
    max-width: 1600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/desktop/hero-min.jpg");
  }
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.advantages__container {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .advantages__container {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.advantages-list__title {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: inherit;
  text-align: center;
}

.advantages-list__text {
  color: #757575;
  line-height: 1.7;
}

.advantages-list__text--margin {
  margin-bottom: 30px;
}

.advantages-list__icon {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .advantages-list {
    display: flex;
    margin-left: -30px;
    flex-wrap: wrap;
  }
  .advantages-list__item {
    flex-basis: calc((100% / 2) - 30px);
    margin-left: 30px;
  }
  .advantages-list__icon {
    width: 354px;
  }
  .advantages-list__text:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .advantages-list {
    display: flex;
    margin-left: -30px;
  }
  .advantages-list__item {
    flex-basis: calc((100% / 4) - 30px);
    margin-left: 30px;
    max-width: 1200px;
  }
  .advantages-list__icon {
    width: 270px;
  }
}

@media screen and (max-width: 1200px) {
  .work {
    display: none;
  }
}

.work__container {
  padding-bottom: 94px;
}

.work__title {
  margin-bottom: 50px;
}

.work-list {
  display: flex;
}

.work-list__item {
  position: relative;
}

.work-list__item:not(:last-child) {
  margin-right: 30px;
}

.work-list__box {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(47, 48, 58, 0.8);
}

.work-list__text {
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

.work-list__text--colour--white {
  color: #ffffff;
}

.team {
  background-color: #f5f4fa;
}

.team__title {
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.team__item {
  margin-left: 30px;
  margin-top: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767px) {
  .team {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .team__title {
    font-size: 28px;
    line-height: 1.18;
  }
  .team__item {
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .team {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .team__item {
    flex-basis: calc((100% / 2) - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .team__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
  .team__item {
    flex-basis: calc((100% / 4) - 30px);
  }
  .team__box {
    margin: 0 auto;
    padding: 30px 32px;
    width: 270px;
  }
}

.team__box {
  padding-top: 30px;
  padding-bottom: 24px;
  margin: 0 auto;
  border-radius: 0 0 5px 5px;
  background-color: #ffffff;
}

.team__name {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}

.team__profession {
  color: #757575;
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 16px;
  /*отступ до списка соц.линков*/
}

.person-card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.person-card__box {
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  background-color: #ffffff;
}

.person-card__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
}

.person-card__text {
  color: var(--secondary-text-colour);
  font-size: 16px;
  margin-bottom: 16px;
}

.social-links {
  display: flex;
  width: 206px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.social-links__cirle {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links__cirle--bg--white {
  background-color: #ffffff;
  border-radius: 50%;
}

.social-links__cirle--bg--white:hover, .social-links__cirle--bg--white:focus {
  background-color: #2196f3;
}

.social-links__icon--colour--gray {
  fill: #afb1b8;
}

.social-links__cirle--bg--white:hover .social-links__icon--colour--gray,
.social-links__cirle--bg--white:focus .social-links__icon--colour--gray {
  fill: #ffffff;
}

.clients__container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.clients__title {
  margin-bottom: 30px;
}

@media screen and (max-width: 1200px) {
  .clients-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .clients-list__item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% / 2) - 30px);
  }
}

.clients-box {
  width: 210px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-box__icon--colour--gray {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-box__link:hover .clients-box__icon,
.clients-box__link:focus .clients-box__icon {
  fill: #2196f3;
}

.clients-box__link {
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.clients-box__link:hover, .clients-box__link:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .clients-list__item {
    flex-basis: calc((100% / 3) - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .clients__container {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .clients__title {
    margin-bottom: 50px;
  }
  .clients .clients-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .clients .clients-list__item:not(:last-child) {
    margin-right: 30px;
  }
  .clients .clients-box {
    width: 170px;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.email-form {
  display: flex;
}

@media screen and (max-width: 1200px) {
  .email-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .email-form__label {
    width: 100%;
  }
  .email-form__input {
    width: 100%;
    min-height: 50px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .email-form__label {
    min-width: 450px;
    min-height: 50px;
  }
  .email-form__input {
    min-width: 450px;
    min-height: 50px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .email-form__input {
    min-width: 358px;
    min-height: 50px;
    margin-right: 12px;
    padding-left: 10px;
    margin-bottom: 20px;
  }
}

.email-form__input {
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}

.email-form__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.email-form__input:focus, .email-form__input:focus-visible {
  border: 1px solid #2196f3;
  outline: none;
}

.footer {
  background-color: #2f303a;
}

.footer__container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__logo {
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .footer__box {
    display: flex;
    justify-content: space-between;
  }
}

.footer__text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

@media screen and (max-width: 1200px) {
  .footer__text {
    text-align: center;
  }
}

.footer__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 29px;
  padding-right: 28px;
  padding-top: 12px;
  padding-bottom: 12px;
  letter-spacing: 0.06em;
}

.footer__btn:hover, .footer__btn:focus {
  background-color: #188ce8;
}

.footer__email {
  margin-top: 60px;
}

@media screen and (min-width: 1200px) {
  .footer__email {
    margin-top: 12px;
  }
}

@media screen and (min-width: 768px) {
  .footer__box--contain--two {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }
}

.footer__box--locate--left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .footer__box--locate--left {
    margin-right: 70px;
  }
}

@media screen and (max-width: 768px) {
  .footer__box--locate--left {
    margin-bottom: 60px;
  }
}

.footer__box--locate--right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 206px;
  margin-top: 12px;
}

@media screen and (min-width: 1200px) {
  .footer__box--locate--right {
    margin-right: 63px;
  }
}

.footer__text--colour--white {
  color: #ffffff;
}

.btn__icon {
  margin-left: 10px;
  fill: #ffffff;
}

.adress {
  line-height: 1.7;
  font-style: normal;
}

.adress__text {
  margin: 0 0 9px 0;
  color: #ffffff;
}

.contact__item--locate--footer {
  margin-bottom: 9px;
}

.contact__link--colour--white {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.7;
}

.contact__link--colour--white {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__link--colour--white:hover, .contact__link--colour--white:focus {
  color: #2196f3;
}

.social-links--align-center {
  align-items: center;
  justify-content: start;
}

.social-links__cirle {
  margin-right: 10px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-links__cirle--bg--dark {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-links__icon--colour--white {
  fill: #ffffff;
}

.social-links__link--locate--footer {
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links__link--locate--footer:hover, .social-links__link--locate--footer:focus {
  background-color: #2196f3;
}

.examples__container {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .examples__container {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.examples__btn-list {
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .examples__btn-list {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .examples__btn-list {
    margin-bottom: 50px;
  }
}

.btn-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

@media screen and (min-width: 768px) {
  .btn-list {
    display: flex;
    justify-content: center;
  }
}

.btn-list__item:not(:last-child) {
  margin-right: 8px;
}

.btn-list__item:not(:nth-last-child(-n + 2)) {
  margin-bottom: 15px;
}

.examples__btn {
  height: 38px;
  padding: 6px 22px;
  background-color: #f5f4fa;
  color: inherit;
  font-weight: 500;
  line-height: 1.625;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.examples__btn:hover, .examples__btn:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.examples__btn--colour--gray {
  background-color: #f5f4fa;
}

@media screen and (max-width: 1200px) {
  .examples-list {
    margin-bottom: -30px;
  }
}

@media screen and (min-width: 768px) {
  .examples-list {
    display: flex;
    flex-wrap: wrap;
  }
}

.examples-list__item {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .examples-list__item:not(:nth-child(even)) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .examples-list__item {
    margin-right: 0;
  }
  .examples-list__item:not(:nth-child(3n + 1)) {
    margin-left: 30px;
  }
  .examples-list__item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.card {
  border: 1px solid #eeeeee;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .card {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .card {
    width: 370px;
  }
}

.card__img {
  width: 100%;
}

.card__text-box {
  padding: 20px 24px;
}

.card__outer-box {
  position: relative;
  overflow: hidden;
}

.card__text--inner {
  padding-left: 24px;
  padding-right: 24px;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
}

.card__inner-box {
  position: absolute;
  top: 0;
  transform: translateY(100%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card__link:hover .card__inner-box {
  transform: translate(0);
}

.card__link:focus .card__inner-box {
  transform: translate(0);
}

.card__link {
  position: relative;
  overflow: hidden;
  display: block;
  width: 100%;
  height: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card__link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card__title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.card__text {
  margin: 4px 0 0 0;
  color: #757575;
  font-size: 16px;
  line-height: 1.87;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

/* здесь не получилось назвать по БЭМ */
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleX(0.8);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleX(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  min-width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal__btn {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  margin-right: 8px;
  padding: 6px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.modal__text {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
}

.form__checkbox {
  margin-bottom: 30px;
}

.input__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: #757575;
}

.input__place {
  display: block;
  height: 40px;
  width: 100%;
  padding-left: 32px;
  padding-top: 11px;
  padding-bottom: 11px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.input__place:focus, .input__place:focus-visible {
  border: 1px solid #2196f3;
  outline: none;
}

.input__box {
  position: relative;
  margin-bottom: 10px;
}

.input__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input__place:focus + .input__icon {
  fill: #2196f3;
}

.comments__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: #757575;
}

.comments__box {
  margin-bottom: 20px;
}

.comments__input-place {
  display: block;
  width: 100%;
  min-height: 120px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}

.comments__input-place::placeholder {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.comments__input-place:focus, .comments__input-place:focus-visible {
  border: 1px solid #2196f3;
  outline: none;
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 1.7;
  color: #757575;
}

.checkbox__icon {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid #212121;
  border-radius: 2px;
}

.checkbox__icon--checked {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.checkbox__input:checked ~ .checkbox__icon {
  opacity: 1;
  background-color: #2196f3;
  border: 2px solid #2196f3;
}
/*# sourceMappingURL=main.css.map */