.clients {
  &__container {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &__title {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 1200px) {
  .clients-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;

    &__item {
      margin-left: 30px;
      margin-top: 30px;

      flex-basis: calc((100% / 2) - 30px);
    }
  }
}

.clients-box {
  width: 210px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: border-color $transition-duration $transition-timing-function;
}

.clients-box__icon--colour--gray {
  fill: $icon-colour;

  transition: fill $transition-duration $transition-timing-function;
}

.clients-box__icon {
  .clients-box__link:hover &,
  .clients-box__link:focus & {
    fill: $accent-colour;
  }
}

.clients-box__link {
  border: 1px solid #afb1b8;
  border-radius: 4px;

  &:hover,
  &:focus {
    border: 1px solid $accent-colour;
    border-radius: 4px;
  }
}

// Tablet
@media screen and (min-width: 768px) {
  .clients-list__item {
    flex-basis: calc((100% / 3) - 30px);
  }
}

//Desktop
@media screen and (min-width: 1200px) {
  .clients {
    &__container {
      padding-top: 94px;
      padding-bottom: 94px;
    }

    &__title {
      margin-bottom: 50px;
    }

    .clients-list {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;

      &__item {
        &:not(:last-child) {
          margin-right: 30px;
        }
      }
    }

    .clients-box {
      width: 170px;
      height: 92px;
      display: flex;
      justify-content: center;
      align-items: center;

      transition: border-color $transition-duration $transition-timing-function;
    }
  }
}
