.email-form {
  display: flex;
  justify-content: center;
  align-items: center;

      &__input {
        min-width: 358px;
        min-height: 50px;
        margin-right: 12px;
        padding-left: 10px;

        background-color: $footer-bg-colour;
        border: 1px solid rgba(255, 255, 255, 0.3);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        color: $header-bg-colour;

        &::placeholder {
          font-size: 16px;
          line-height: 1.25;
          color: rgba(255, 255, 255, 0.6);
        }

        &:focus,
        &:focus-visible {
            border: 1px solid $accent-colour;
            outline: none;
        }
      }

}
