.footer {
  background-color: $footer-bg-colour;

  &__container {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &__logo {
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1200px) {
    &__box {
      display: flex;
      justify-content: space-between;
    }
  }

  &__text {
    margin-bottom: 20px;

    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-left: 29px;
    padding-right: 28px;
    padding-top: 12px;
    padding-bottom: 12px;

    letter-spacing: 0.06em;

    &:hover,
    &:focus {
      background-color: #188ce8;
    }
  }
}

.footer__email {
  @media screen and (min-width: 1200px) {
    margin-top: 12px;
  }

  margin-top: 60px;
}

@media screen and (min-width: 768px) {
  .footer__box--contain--two {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }
}

.footer__box--locate--left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 1200px) {
    margin-right: 70px;
  }
  @media screen and (max-width: 768px) {
    margin-bottom: 60px;
  }
}

.footer__box--locate--right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-width: 206px;
  margin-top: 12px;

  @media screen and (min-width: 1200px) {
    margin-right: 63px;
  }
}

.footer__text--colour--white {
  color: $header-bg-colour;
}

.btn__icon {
  margin-left: 10px;

  fill: $header-bg-colour;
}
