.footer {
  background-color: $footer-bg-colour;

      &__container {
        padding-top: 60px;
        padding-bottom: 60px;
      }


      &__logo {
        margin-bottom: 20px;
      }

      &__box {
        display: flex;
      }

      &__text {
        margin-bottom: 20px;

        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
      }

      &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        
        padding-left: 29px;
        padding-right: 28px;
        padding-top: 12px;
        padding-bottom: 12px;

        letter-spacing: 0.06em;

        &:hover,
        &:focus {
            background-color: #188ce8;
        }
      }
}

.footer__email {
  margin-top: 12px;
}

.footer__box--locate--left {
  margin-right: 70px;
}

.footer__box--locate--right {
  min-width: 206px;
  margin-top: 12px;
  margin-right: 63px;
}

.footer__text--colour--white {
    color: $header-bg-colour;
}

.btn__icon {
margin-left: 10px;  

fill: $header-bg-colour;
}