.comments {
  &__label {
    display: block;
    margin-bottom: 4px;

    font-size: 12px;
    letter-spacing: 0.01em;
    color: #757575;
  }

  &__box {
    margin-bottom: 20px;
  }

  &__input-place {
    display: block;
    width: 100%;
    min-height: 120px;

    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;

    &::placeholder {
      font-size: 14px;
      @media screen and (min-width: 1200px) {
        font-size: 12px;
      }
      line-height: 1.2;
      letter-spacing: 0.01em;

      color: rgba(117, 117, 117, 0.5);
    }

    &:focus,
    &:focus-visible {
      border: 1px solid $accent-colour;
      outline: none;
    }
  }
}
