
  $header-bg-colour: #ffffff;
  $secondary-bg-colour: #f5f4fa;
  $footer-bg-colour: #2f303a;
  $primary-text-colour: #212121;
  $secondary-text-colour: #757575;
  $logo-text-colour: #000000;
  $accent-colour: #2196f3;
  $footer-contact-colour: rgba(255, 255, 255, 0.6);
  $icon-colour: rgba(175, 177, 184, 1);
  $footer-circle-colour: rgba(255, 255, 255, 0.1);
  $transition-duration: 250ms;
  $transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);